body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* Gradient blue background */
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    transition: background-color 0.3s, border-radius 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Hide all tab content by default */
.tab-content {
    display: none;
}

/* Show the first tab content by default */
.tab-content:first-of-type {
    display: block;
}
