body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d0e7ff; /* Light blue background */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

/* Hide all tab content by default */
.tab-content {
    display: none;
}

/* Show the first tab content by default */
.tab-content:first-of-type {
    display: block;
}
